
html, body {
    height: 100%;
    margin: 0;
}

.page-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.site-header {
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* TOP WHITE BAR */
.top-bar {
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.top-bar .left,
.top-bar .right {
    display: flex;
    align-items: center;
}

.nav-center {
    display: flex;
    gap: 20px;
}

.nav-center a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.register-btn {
    background: #1a4fa3;
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
}

/* BOTTOM BLUE BAR */
.bottom-bar {
    background: #1a4fa3;
    color: white;
    padding: 10px 20px;
}

.org-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    height: 40px;
}

.text .title {
    font-weight: bold;
}

.text .subtitle {
    font-size: 12px;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    background: #ffffff;
    color: rgb(0, 0, 0);
}
.text .title {
    font-weight: 500;
}

.text .subtitle {
    font-weight: 300;
}

.nav-center a {
    font-weight: 500;
}
/* FOOTER */
.site-footer {
    background: #ccc;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}
